@import 'helpers/fonts'
@import 'helpers/libs'
@import 'helpers/vars'

*, *::after, *::before
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  padding: 0
  margin: 0

ul,li
  margin: 0
  padding: 0
  list-style-type: none

p, pre
  margin: 0

input,
select,
button
  outline: none

.page
  font-size: 18px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  margin: 0
  padding: 0

.header
  height: 70px
  background: $main-color url('../img/header_background.jpg') center no-repeat
  color: #fff


.header__inner
  display: flex
  justify-content: space-between
  align-items: center

.container
  max-width: 1170px
  margin: 0 auto

.menu__hamburger
  margin-right: 15px

.menu
  cursor: pointer

.hamburger
  display: inline-block
  vertical-align: middle

.hamburger__box
  width: 50px
  height: 50px
  position: relative
  border: 2px solid #fff
  border-radius: 50%

.hamburger__inner, .hamburger__inner::before, .hamburger__inner::after
  width: 25px
  height: 4px
  background-color: #fff
  position: absolute
  border-radius: 4px
  transition: all 0.15s ease

.hamburger__inner::before, .hamburger__inner::after
  content: ''
  display: block

.hamburger__inner
  top: 22px
  left: 11px

.hamburger__inner.is-active
  transform: rotate(45deg)

.hamburger__inner.is-active::before
  top: 0

.hamburger__inner.is-active::after
  transform: rotate(90deg)
  top: 0

.hamburger__inner::before
  top: -8px

.hamburger__inner::after
  top: 8px

.menu__text
  display: inline-block

.nav
  position: absolute
  background-color: #fff
  z-index: 1
  opacity: 0
  display: none
  top: 80px
  transition: all 0.15s linear

.is-visible
  display: block
  opacity: 1

.nav__item
  padding: 9px 20px
  border-bottom: 1px solid $main-color
  transition: all 0.25s linear
  color: $main-color
  &:hover
    background-color: $main-color
    color: #fff

.nav__link
  color: inherit
  text-decoration: none

.text
  display: block
  font-size: 16px

.text_uppercase
  text-transform: uppercase

.text_bold
  font-weight: 700

.logo
  width: 140px
  height: 70px
  z-index: 1

.telephone
  position: relative

.telephone__icon
  display: block
  width: 24px
  height: 24px
  position: absolute
  background: url("../img/svg/telephone.svg") 0 0 no-repeat
  background-size: 100%
  top: 25%
  left: 0

.telephone__inner
  margin-left: 33px

.telephone__number
  color: #fff
  display: block
  text-decoration: none
  font-size: 18px

.button
  display: inline-block
  font-size: 18px
  border: 2px solid #fff
  border-radius: 25px
  background-color: $main-color
  padding: 0 20px
  cursor: pointer

  &:hover
    background-color: #fff

.button__text
  text-decoration: none
  color: #fff

.button:hover .button__text
  color: $main-color

.promo
  background: #fff url(../img/main_background.jpg) center no-repeat
  min-height: 691px
  background-size: cover
  position: relative

.promo::after
  display: block
  content: ""
  width: 100%
  height: 19px
  position: absolute
  bottom: 0
  background: url(../img/wave.png) 0 0 repeat-x

.promo__inner
  position: absolute
  bottom: 60px
  left: 50%
  transform: translateX(-50%)

.promo__title
  font-size: 30px
  line-height: 1.6
  color: #fff
  white-space: nowrap

.about
  background-color: #fff
  padding: 70px 0 50px

.about__inner
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.video, .information
  flex-basis: auto
  width: 45%

.section__title
  text-align: center
  font-family: $title-font
  color: $main-color
  font-size: 42px
  font-weight: 400
  line-height: 1

.information__title
  margin-top: -20px
  margin-bottom: 15px

.information__text
  color: $main-color
  margin-bottom: 25px
  line-height: 1.2

.instagram
  display: block
  text-align: center

.instagram__link
  color: $main-color
  font-size: 24px
  font-weight: 700
  &::before
    display: inline-block
    content: ""
    width: 35px
    height: 35px
    margin-right: 10px
    vertical-align: middle
    background: url("../img/instagram-icon.png") 0 0 no-repeat

.instagram__text
  font-size: 28px
  color: $main-color
  margin-right: 10px
  line-height: 1

.services
  background: $main-color url(../img/section_services/services_background.jpg) center no-repeat
  background-size: cover
  position: relative
  &::after
    display: block
    content: ""
    width: 100%
    height: 19px
    position: absolute
    top: -1px
    background: url(../img/wave.png) 0 0 repeat-x
    transform: rotateX(180deg)

.services__inner
  padding: 60px 0 40px

.services_box
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 30px

.service_item
  position: relative
  flex-basis: auto
  width: 32%
  color: #fff
  margin: 0 5px 40px
  padding-left: 180px
  &::before
    display: block
    content: ""
    position: absolute
    left: 0
    width: 165px
    min-height: 165px
    background-image: url("../img/section_services/spritesheet.png")
    background-repeat: no-repeat

.service_item_organisation::before
  background-position: -355px -5px

.service_item_host::before
  background-position: -180px -180px

.service_item_photograph::before
  background-position: -355px -180px

.service_item_decoration::before
  background-position: -5px -180px

.service_item_banket::before
  background-position: -180px -5px

.service_item_registration::before
  background-position: -5px -355px

.service_item_artists::before
  background-position: -5px -5px

.service_service_item:nth-of-type(5n+1), .service_item:nth-of-type(5n+2)
  width: 40%

.service_item__title
  font-size: 24px
  font-weight: 700

.section__title_white
  color: #fff

.portfolio
  position: relative
  background: url(../img/section_portfolio/portfolio_background.png) 0 0 no-repeat
  background-size: cover
  margin-top: -15px
  margin-bottom: -15px
  z-index: 1

.portfolio__inner
  padding: 60px 0 80px

.porfolio_item__wrapper
  max-width: 970px
  margin: 30px auto 15px
  &::after
    content: ""
    display: block
    clear: both

.portfolio_item
  width: 290px
  min-height: 230px
  background-repeat: no-repeat
  position: relative
  cursor: pointer
  float: left

.portfolio_item_wide
  width: 390px

.portfolio_item_high
  height: 460px
  float: right

.portfolio_item_description__wrapper
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 10px 45px 5px 10px
  background-color: $main-color
  opacity: 0
  text-align: right
  transition: opacity 0.2s linear

.portfolio_item:hover .portfolio_item_description__wrapper
  opacity: 1

.portfolio_item__description
  color: #fff

.portfolio_item__icon
  width: 25px
  height: 25px
  background-color: $main-color
  border: 1px solid #fff
  border-radius: 50%
  position: absolute
  bottom: 10px
  right: 10px
  &::after
    content: ""
    display: block
    position: absolute
    top: 5px
    left: 5px
    width: 15px
    height: 15px
    background: url(../img/svg/search.svg) 0 0 no-repeat
    background-size: 100%

.price
  background: $main-color url(../img/section_price/price_background.jpg) center no-repeat
  background-size: cover
  position: relative

.price__inner
  padding: 65px 0 80px

.prices__wrapper
  display: flex
  justify-content: space-between
  margin-top: 30px

.price_item
  width: 31%
  background-color: #fff
  padding: 15px 25px 30px
  color: $main-color
  border-radius: 15px
  display: flex
  flex-direction: column
  justify-content: space-between

.price_item__title
  font-size: 24px
  text-transform: uppercase
  text-align: center
  margin-bottom: 10px
  font-weight: 700
  line-height: 1.3
  padding-bottom: 10px
  border-bottom: 1px solid $main-color

.price_item__paragraph
  display: block
  text-align: center
  line-height: 1.3

.price_item__first_paragraph
  margin-bottom: 10px

.price_item_big
  font-weight: 700
  font-size: 20px

.price__box
  margin: 30px auto 0
  width: 260px
  height: 61px
  text-align: center
  background: url(../img/section_price/price_box.png) 0 0 no-repeat
  background-size: 100%

.price__value
  font-size: 42px
  font-weight: 700
  line-height: 1.45
  color: #fff

.price__icon
  margin-left: 15px
  display: inline-block
  width: 33px
  height: 33px
  background: url(../img/svg/ruble.svg) 0 0 no-repeat
  background-size: 100%

.consultation__information
  margin: 35px 0 30px
  text-align: center

.consultation__text
  color: #fff
  font-size: 28px

.consultation__telephone
  color: #fff
  display: inline-block
  margin: 0 10px
  text-decoration: none
  font-size: 28px
  font-weight: 700

.button__wrapper
  text-align: center

.button__text_big
  font-size: 24px
  text-align: center
  padding: 0 30px

.team
  background: url(../img/section_team/team_background.jpg) center no-repeat
  background-size: cover
  position: relative
  &::before
    display: block
    content: ""
    width: 100%
    height: 19px
    position: absolute
    top: -19px
    background: url(../img/wave_green.png) 0 0 repeat-x
  &::after
    display: block
    content: ""
    width: 100%
    height: 19px
    position: absolute
    bottom: -19px
    background: url(../img/wave_green.png) 0 0 repeat-x
    transform: rotateX(180deg)
    z-index: 1


.team__inner
  padding: 50px 0
  min-height: 1140px
  background: url(../img/section_team/price_line.png) 0 0 repeat-x
  background-size: 100%
  position: relative

.team__wrapper
  margin-top: 40px

.ceo
  display: flex
  position: relative
  left: 16%
  margin-bottom: 25px

.ceo__photo
  width: 260px
  height: 260px
  position: absolute

.ceo__text
  padding-left: 300px
  max-width: 750px
  color: $main-color
  line-height: 1.5

.ceo__name
  font-size: 24px
  font-weight: 700

.ceo__post
  font-size: 20px

.ceo__work
  margin-bottom: 15px

.ceo__motto
  font-style: italic
  text-align: left
  line-height: 1.15

.team_members__wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.member
  width: 24%
  display: flex
  flex-direction: column

.member:nth-child(2n)
  padding-top: 40px

.member__photo
  width: 165px
  height: 165px
  margin: 20px auto 0

.member__text
  color: $main-color
  text-align: center

.member__name
  margin-bottom: 10px
  font-size: 20px
  font-weight: 700

.member__post
  line-height: 1.2
  margin-bottom: 5px

.member__work
  line-height: 1.2

.partner
  background: url(../img/section_partner/partner_background.jpg) center no-repeat
  background-size: cover
  position: relative

.partner__inner
  padding: 61px 0 75px

.photo__wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin: 30px 5px 45px


.partner__photo
  width: 27%
  height: 220px
  background-repeat: no-repeat
  background-size: cover

.partner__photo_wide
  width: 39%

.features__wrapper
  margin-bottom: 50px

.partner__information
  margin-bottom: 5px

.partner-features__wrapper
  display: flex
  flex-wrap: wrap
  counter-reset: partner__counter
  box-sizing: border-box

.partner-feature__line
  margin-bottom: 30px
  display: flex
  justify-content: center


.partner-feature
  width: 41%
  box-sizing: border-box
  position: relative
  margin-right: 35px
  counter-reset: feature
  counter-increment: partner__counter


.partner-feature__line:nth-child(2n + 1) .partner-feature
  margin-right: 70px

.partner-feature__line:nth-child(2n)
  margin-left: 35px
    
.partner-feature__line:nth-child(2n+1) .partner-feature:first-child,
.partner-feature__line:nth-child(2n) .partner-feature:nth-child(2)
  width: 25%

.partner-feature__text
  color: $main-color
  position: relative
  padding-left: 60px
  &::before
    display: block
    content: counter(partner__counter)
    width: 50px
    height: 50px
    position: absolute
    left: 0
    top: 12%
    line-height: 50px
    color: #fff
    font-weight: 700
    font-size: 30px
    text-align: center
    background-color: $main-color
    border-radius: 50%

.partner__text
  font-size: 22px
  color: $main-color
  text-align: center

.feedback
  background: url(../img/section_feedback/feedback_background.png) center no-repeat
  background-size: cover
  position: relative
  margin-top: -15px
  margin-bottom: -15px
  z-index: 1

.feedback__inner
  padding: 55px 0 80px

.feedback-slider
  margin-top: 40px
  padding: 0 100px
  position: relative
  .slick-dots
    li
      button
        border: 1px solid #fff
        border-radius: 50%
        &::before
          display: none
      &.slick-active
        button
          background-color: #fff
  .feedback-slider__control
    position: absolute
    top: 45%

    width: 45px
    height: 45px
    background: url(../img/svg/arrow.svg) 0 0 no-repeat
    background-size: 100%
    &.slick-disabled
      opacity: 0.5
  .feedback-slider__prev
    left: 10px

  .feedback-slider__next
    transform: rotateY(-180deg)
    right: 10px


.feedback-slider__item
  width: 100%
  max-width: 465px
  display: flex
  justify-content: space-between
  color: $main-color
  height: 310px
  border-radius: 15px
  padding: 30px 20px
  margin-bottom: 30px
  background: #fff url(../img/section_feedback/feedback_item_background.png) right bottom no-repeat

.feedback-slider__author
  margin-right: 20px
  text-align: center

.feedback-slider__photo
  width: 140px
  height: 140px
  margin-bottom: 10px
  border-radius: 50%

.feedback-slider__name
  font-size: 24px
  font-weight: 700
  line-height: 1.3

.feedback-slider__date
  font-size: 20px

.feedback-slider__text
  font-size: 15px
  font-style: italic
  line-height: 1.2

.projects
  background-color: #fff
  background-size: cover
  position: relative
  &::before
    display: block
    content: ""
    width: 100%
    height: 19px
    position: absolute
    top: -1px
    background: url(../img/wave.png) 0 0 repeat-x
    z-index: 1
  &::after
    display: block
    content: ""
    width: 100%
    height: 19px
    position: absolute
    bottom: -18px
    background: url(../img/wave.png) 0 0 repeat-x
    transform: rotateX(180deg)
    z-index: 5

.projects__inner
  padding: 50px 0 40px

.projects__description
  display: block
  text-align: center
  color: $main-color
  font-size: 28px

.projects__list
  margin: 20px 10px 30px
  display: flex
  justify-content: center

.project__item
  width: 255px
  margin-right: 65px
  &:last-child
    margin-right: 0


.project__photo
  width: 165px
  height: 165px
  margin: 0 auto

.project__photo-1
  background: url(../img/section_projects/project_photo_1.png) 0 0 no-repeat

.project__photo-2
  background: url(../img/section_projects/project_photo_2.png) 0 0 no-repeat

.project__photo-3
  background: url(../img/section_projects/project_photo_3.png) 0 0 no-repeat

.project__title
  display: block
  text-align: center
  font-family: $title-font
  font-size: 28px
  color: $main-color
  line-height: 1.3

.projects__information
  color: $main-color
  font-size: 26px
  max-width: 685px
  margin: 0 auto 50px
  text-align: center
  line-height: 1.5

.projects__telephone
  color: inherit
  display: inline-block
  margin: 0 10px
  text-decoration: none
  font-weight: 700

.arrow-down
  margin: 0 auto
  display: block
  width: 32px
  height: 52px
  background: url(../img/section_projects/arrow_down.png) 0 0 no-repeat
  background-size: 100%

.secrets
  background: url(../img/section_secrets/feedback_form_background.jpg) 0 0 no-repeat
  background-size: cover
  position: relative

.secrets__inner
  padding: 80px 0 40px

.consultation__wrapper
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  margin-top: 70px

.consultation__list
  max-width: 460px

.consultation-form__wrapper
  max-width: 360px
  height: 450px
  background-color: #fff
  color: $main-color
  border-radius: 15px
  text-align: center
  position: relative

.consultation-form
  padding: 40px 30px 0

.consultation-form_success
  padding: 40px 40px 100px 50px
  font-size: 28px
  display: none


.consultation-form__close
  display: block
  width: 53px
  height: 53px
  position: absolute
  right: -15px
  top: -20px
  background-color: $main-color
  border-radius: 50%
  border: 1px solid #fff
  font-size: 32px
  line-height: 48px
  color: #fff
  cursor: pointer

.consultation-form__img
  width: 230px
  height: 230px
  margin: 0 auto
  background: url(../img/section_secrets/bike.png) 0 0 no-repeat

.consultation-form__text
  display: block

  line-height: 1.2

.consultation__list
  color: #fff
  font-size: 28px
  line-height: 1.1
  font-weight: 700

.consultation__item_normal
  font-weight: 400

.consultation__item
  margin-bottom: 20px


.consultation-form__title
  font-size: 27px
  color: $main-color
  text-align: center
  line-height: 1.3
  margin-bottom: 25px

.consultation-form__field
  margin: 0 6px 20px
  width: 100%
  font-size: 20px
  color: $gray-color
  padding: 5px 30px
  border-radius: 5px
  position: relative

.consultation-form__field_name
  background: url(../img/svg/profile.svg) 1% 50% no-repeat
  background-size: 20px

.consultation-form__field_phone
  background: url(../img/svg/phone-receiver.svg) 1% 50% no-repeat
  background-size: 20px


.consultation-form__button
  margin-top: 15px
  color: #fff
  padding: 10px 15px
  width: 100%
  font-size: 24px
  margin-bottom: 55px
  transition: all 0.25s ease

.consultation-form__button:hover
  box-sizing: border-box
  color: $main-color
  background-color: #fff
  border: 2px solid $main-color

.footer
  background-color: #0a0a0a

.footer__inner
  padding: 25px 0
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  color: #fff

.logo__image_footer
  width: 100px
  height: 100px

.footer__title
  color: $gray-color



.social__item
  margin-right: 10px
  display: inline-block
  &:last-child
    margin-right: 0

.social__link
  display: inline-block
  width: 52px
  height: 52px
  border-radius: 50%
  background: $main-color url(../img/footer/spritesheet.png) no-repeat
  vertical-align: middle
  opacity: 0.7
  transition: opacity 0.2s ease
  &:hover
    opacity: 1

.social__link_vk
  background-position: -11px -81px

.social__link_instagram
  background-position: -81.5px -11px

.social__link_facebook
  background-position: -11px -11px

.social__link_whatsapp
  background-position: -81.5px -81px

.social__link_youtube
  background-position: -154px -11px

.telephone__number_icon-phone, .telephone__number_icon-smartphone
  padding-left: 25px
  position: relative
  &:before
    display: block
    content: ""
    width: 16px
    height: 16px
    position: absolute
    left: 0
    top: 5px

.telephone__number_icon-phone
  &::before
    background: url(../img/svg/telephone.svg) no-repeat
    background-size: 100%


.telephone__number_icon-smartphone
  &::before
    background: url(../img/svg/smartphone.svg) no-repeat
    background-size: 100%




.copyright
  width: 100%
  text-align: center
  color: $gray-color
  font-size: 16px
  margin-top: 20px

.copyright__icon
  font-size: 18px
  padding-right: 5px

.copyright__text
  display: inline-block
  margin-right: 10px

.copyright__link
  color: inherit

.popup__form
  width: 100%
  max-width: 360px
  margin: 50px auto
  .mfp-close
    display: none


@import "helpers/media"