doctype html
html
    head

        meta(charset="utf-8")
        title Title
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(property="og:image" content="path_to_image")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

        link(rel="stylesheet" type='text/css' href="css/main.css")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

    body.page

        header.header.page__header

            div.header__inner.container
                div.menu
                    div.hamburger.menu__hamburger
                        div.hamburger__box
                            div.hamburger__inner
                    div.menu__text Меню
                    ul.nav
                        li.nav__item
                            a.nav__link(#) Главная
                        li.nav__item
                            a.nav__link(#) Услуги
                        li.nav__item
                            a.nav__link(#) Портфолио
                        li.nav__item
                            a.nav__link(#) Стоимость
                        li.nav__item
                            a.nav__link(#) Наша команда
                        li.nav__item
                            a.nav__link(#) Площадка-партнер
                        li.nav__item
                            a.nav__link(#) Контакты
                        li.nav__item
                            a.nav__link(#) Не свадебные проекты
                        li.nav__item
                            a.nav__link(#) Наша команда
                div.header__title
                    span.text.text_uppercase.text_bold Группа компаний Emerald
                    span.text Организация свадебных торжеств
                div.logo
                    img.logo__image(src="../img/header__logo.png" srcset="../img/header__logo@2x.png 2x" alt="Company logo")
                div.telephone
                    div.telephone__icon
                    div.telephone__inner
                        a.telephone__number.text_bold(href="tel:+74951955722")
                            | +7 (495) 195-57-22
                        a.telephone__number.text_bold(href="tel:+79853941057")
                            | +7 (985) 394-10-57

                div.button
                    a.button__text(href="#")
                        |Заказать звонок



        main.main
            section.promo
                div.promo__inner.container
                    h1.promo__title
                            |Наш 10 летний опыт организации свадебных торжеств<br>
                            |Поможет Вам сэкономить до 15% от свадебного бюджета<br>
                            |И около 3-х месяцев, самостоятельной подготовки.
            section.about
                div.about__inner.container
                    iframe.video.about__video(width="100%" height="310" src="https://www.youtube.com/embed/J_WHx738YB8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
                    div.information
                        h2.section__title.information__title О нас
                        p.information__text
                            strong Emerald
                            | (в переводе с англ.) – изумруд, драгоценный камень с множеством граней, он олицетворяет нашу деятельность, наш подход к каждому мероприятию.
                        p.information__text
                            strong Наша основная задача
                            | - услышать пожелания клиента и воплотить в жизнь его мечту, какой бы смелой она ни казалась. При этом, мы абсолютно убеждены, что хороший праздник зависит не от количества вложенных в него денег, а от подхода и профессионализма команды, которая работает над проектом.
                        p.information__text
                            strong Команда Emerald
                            | – это целый мир, который дарит мечты.
                        div.instagram
                            span.instagram__link #МойМирМойEmerald
            section.services
                div.services__inner.container
                    h2.section__title.section__title_white Услуги
                    div.services_box
                        div.service_item.service_item_organisation
                            div.service_item__title Организация
                            p.service_item__text
                            |У нас не было, нет и никогда не будет готовых предложений с набором опций. #[b Свадьба – это маленькая жизнь со своей историей и душой.]
                        div.service_item.service_item_host
                            div.service_item__title Ведущий
                            p.service_item__text
                            |В нашей команде #[b более 30 ведущих] разделяющих наше видение на свадебное торжество.
                        div.service_item.service_item_photograph.service_item_center
                            div.service_item__title Фотограф/Видеооператор
                            p.service_item__text
                            |В нашей медиа-команде #[b более 20 специалистов], проверенных нами.
                        div.service_item.service_item_decoration.service_item_center
                            div.service_item__title Декор
                            p.service_item__text Команда декораторов нашей службы торжеств поможет Вам выбрать #[b стиль и цветовое решение] Вашей свадьбы.
                        div.service_item.service_item_banket.service_item_center
                            div.service_item__title Банкет
                            p.service_item__text Наша банкетная служба удовлетворит #[b любые вкусовые предпочтения] даже самого изысканного гурмана.
                        div.service_item.service_item_registration
                            div.service_item__title Выездная регистрация
                            p.service_item__text Выслушав #[b Ваши пожелания, предпочтения и мечту] – как должна пройти эта красивая история, мы поможем ее осуществить.
                        div.service_item.service_item_artists
                            div.service_item__title Артисты
                            p.service_item__text Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, #[b поставить «вишенку на торт» в завершении вечера.]
            section.portfolio
                div.portfolio__inner.container
                    h2.portfolio__title.section__title Портфолио
                    div.porfolio_item__wrapper
                        div.portfolio_item.portfolio_item_wide(style="background-image: url(../img/section_portfolio/portfolio_photo_1.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Александра и Юлии
                            div.portfolio_item__icon

                        div.portfolio_item(style="background-image: url(../img/section_portfolio/portfolio_photo_2.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Ярослава и Дарьи
                            div.portfolio_item__icon

                        div.portfolio_item(style="background-image: url(../img/section_portfolio/portfolio_photo_3.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Евгения и Тамары
                            div.portfolio_item__icon

                        div.portfolio_item(style="background-image: url(../img/section_portfolio/portfolio_photo_4.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Дмитрия и Анны
                            div.portfolio_item__icon

                        div.portfolio_item.portfolio_item_wide(style="background-image: url(../img/section_portfolio/portfolio_photo_5.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Александра и Анастасии
                            div.portfolio_item__icon

                        div.portfolio_item.portfolio_item_high(style="background-image: url(../img/section_portfolio/portfolio_photo_6.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Олега и Марины
                            div.portfolio_item__icon

                        div.portfolio_item.portfolio_item_wide(style="background-image: url(../img/section_portfolio/portfolio_photo_7.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Руслана и Оксаны
                            div.portfolio_item__icon

                        div.portfolio_item(style="background-image: url(../img/section_portfolio/portfolio_photo_8.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Валентина и Галины
                            div.portfolio_item__icon

                        div.portfolio_item.portfolio_item_wide(style="background-image: url(../img/section_portfolio/portfolio_photo_9.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Владислава и Дарьи
                            div.portfolio_item__icon

                        div.portfolio_item(style="background-image: url(../img/section_portfolio/portfolio_photo_10.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Михаила и Юлии
                            div.portfolio_item__icon

                        div.portfolio_item(style="background-image: url(../img/section_portfolio/portfolio_photo_11.png)")
                            div.portfolio_item_description__wrapper
                                span.portfolio_item__description Свадьба Петра и Марины
                            div.portfolio_item__icon
                    div.instagram
                        span.instagram__text Следите за нами в инстаграмме:
                        span.instagram__link.text_uppercase #my_world_my_emerald
            section.price
                div.price__inner.container
                    h2.price__title.section__title.section__title_white Стоимость
                    div.prices__wrapper
                        div.price_item
                            div.price_item__title Свадебный #[br] распорядитель
                            div.price_item__text
                                span.price_item__paragraph.price_item__first_paragraph Ваш личный помощник, который решает все организационно-технический вопросы в день Вашего торжества:
                                span.price_item__paragraph – Встречает и провожает гостей
                                span.price_item__paragraph – Общается с банкетной службой ресторана
                                span.price_item__paragraph – Следит за работой свадебного персонала (#[em фото, видео, артисты, ведущий, декоратор])
                                span.price_item__paragraph – Отвечает за зону выездной регистрации
                                span.price_item__paragraph – Отвечает на все волнующие вопросы
                            div.price__box
                                span.price__value 17 000
                                span.price__icon

                        div.price_item
                            div.price_item__title Организация #[br]свадьбы
                            div.price_item__text
                                span.price_item__paragraph.price_item__first_paragraph Полное сопровождение «предсвадебного путешествия» для того, чтобы подготовка доставила удовольствие:
                                span.price_item__paragraph – Уделим внимание всем деталям,
                                span.price_item__paragraph поможем оптимизировать бюджет, порекомендуем надежных свадебных специалистов, наполним торжество
                                span.price_item__paragraph Вашей душой.
                                span.price_item__paragraph –В день свадьбы на площадке работают: #[em свадебный распорядитель+2 координатора].
                                span.price_item__paragraph.price_item_big Вы отдыхаете!
                            div.price__box
                                span.price__value 37 000
                                span.price__icon

                        div.price_item
                            div.price_item__title PREMIUM #[br] Организация свадьбы
                            div.price_item__text
                                span.price_item__paragraph.price_item__first_paragraph Это предложение идеально подходит для свадебных торжеств, если приглашённых гостей будет #[strong 100 и более человек].
                                span.price_item__paragraph – Если в расписании свадебного дня запланирована насыщенная программа с развлечениями и артистами.
                                span.price_item__paragraph – С утра ВАС будет сопровождать координатор, который возьмет на себя хлопоты первой половины дня.
                                span.price_item__paragraph –В день свадьбы на площадке работают: #[em свадебный распорядитель+2 координатора].
                            div.price__box
                                span.price__value 57 000
                                span.price__icon


                    div.consultation__information
                        span.consultation__text
                            |Подробная консультация по телефону:
                            a.consultation__telephone(href="tel:+74951955722")
                                | +7 (495) 195-57-22
                            |или оставьте заявку:
                    div.button__wrapper
                        div.button
                            a.button__text.button__text_big(href="#")
                                |Оставить заявку

            section.team
                div.team__inner.container
                    h2.team__title.section__title Наша команда
                    div.team__wrapper
                        div.ceo
                            div.ceo__photo(style="background-image: url(../img/section_team/member_photo_1.png)")
                            div.ceo__text
                                div.ceo__name Алиса Истомина
                                div.ceo__post Основатель Группы компаний Emerald
                                div.ceo__work Генеральный директор #[br] Организатор, Ведущая
                                div.ceo__motto «Наша миссия - нести в массы культуру мероприятий. Любое торжество - свадьба, корпоратив или день рождение - это не банкет с тамадой и набором артистов. Это гораздо глубже, больше. Это эмоции и ощущения, с которыми человек уходит домой, поэтому у каждого нашего праздника есть личная история и душа».
                        div.team_members__wrapper
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_2.png)")
                                div.member__text
                                    div.member__name Наталья Гудошникова
                                    div.member__post Исполнительный директор Группы компаний Emerald
                                    div.member__work Руководитель отдела организации #[br] Свадебный распорядитель
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_3.png)")
                                div.member__text
                                    div.member__name Оксана Абросимова
                                    div.member__post Организатор #[br] Свадебный распорядитель
                                    div.member__work Координатор
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_4.png)")
                                div.member__text
                                    div.member__name Мария Ершова
                                    div.member__post Руководитель банкетной #[br] службы
                                    div.member__work
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_5.png)")
                                div.member__text
                                    div.member__name Сергей Прудников
                                    div.member__post Руководитель направления «Emerald media»
                                    div.member__work Фотограф
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_6.png)")
                                div.member__text
                                    div.member__name Элона Губаз
                                    div.member__post Руководитель направления «Декор от Emerald»
                                    div.member__work Декоратор-флорист
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_7.png)")
                                div.member__text
                                    div.member__name Артур Васильев
                                    div.member__post Режиссер-постановщик мероприятий
                                    div.member__work Сценарист #[br] Ведущий
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_8.png)")
                                div.member__text
                                    div.member__name Ольга Меньшикова
                                    div.member__post Руководитель направления «Emerald детям»
                                    div.member__work
                            div.member
                                div.member__photo(style="background-image: url(../img/section_team/member_photo_9.png)")
                                div.member__text
                                    div.member__name Руслан Чачанов
                                    div.member__post Руководитель направления по разработке корпоративных программ и тимбилдингов.
                                    div.member__work





            section.partner
                div.partner__inner.container
                    h2.partner__title.section__title Наша площадка-партнер – #[br] Кафе-шатры «Русская сказка»
                    div.photo__wrapper
                        div.partner__photo(style="background-image: url(../img/section_partner/partner_1.jpg)")
                        div.partner__photo.partner__photo_wide(style="background-image: url(../img/section_partner/partner_2.jpg)")
                        div.partner__photo(style="background-image: url(../img/section_partner/partner_3.jpg)")
                    div.partner-features__wrapper
                        div.partner-feature__line
                            div.partner-feature
                                div.partner-feature__text – Располагается #[strong в Национальном конном парке «Русь»]
                            div.partner-feature
                                div.partner-feature__text – Есть возможность размещения на территории: молодоженам в #[strong двухкомнатном люксе], а остальным гостям мы можем предложить на выбор: #[strong гостиничные номера,  либо коттеджи]
                        div.partner-feature__line
                            div.partner-feature
                                div.partner-feature__text – На территории комплекса размещены #[strong 3 белоснежных арочных шатра площадью 200кв. м]
                            div.partner-feature
                                div.partner-feature__text – Шатры имеют #[strong удобный заезд] и #[strong собственную парковку]
                    div.partner__information
                        div.partner__text Подробнее о площадке:
                    div.button__wrapper
                        div.button
                            a.button__text.button__text_big(href="#")
                                | Презентация PDF



            section.feedback
                div.feedback__inner.container
                    h2.feedback__title.section__title.section__title_white Отзывы
                    div.feedback-slider
                        div.feedback-slider__prev.feedback-slider__control
                        div.feedback-slider__next.feedback-slider__control
                        div.feedback-slider-js
                            div.feedback-slider__column
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_1.png)")
                                        div.feedback-slider__name Наталья, #[br] Владимир
                                        div.feedback-slider__date 7 мая 2016
                                    div.feedback-slider__text "Дорогие Алиса и Наташа, хочется поблагодарить вас и вашу команду за организацию нашей свадьбы! #[strong Вы очень тёплые, позитивные, мастера своего дела!] К сожалению, не удалось сказать слова благодарности на свадьбе, при торжественной обстановке, но думаю, мы ещё встретимся с вами, повод для праздника найдём). Процветания вам, только положительных эмоций, не капризных молодожёнов))"
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_2.png)")
                                        div.feedback-slider__name Артём,
                                        div.feedback-slider__name Анна
                                        div.feedback-slider__date 24 июня 2016
                                    div.feedback-slider__text "В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной. Но! Я глубоко ошибалась! #[strong Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!] Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."
                            div.feedback-slider__column
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_3.png)")
                                        div.feedback-slider__name Артур,
                                        div.feedback-slider__name Кристина
                                        div.feedback-slider__date 14 мая 2016
                                    div.feedback-slider__text "Время для благодарностей! #[strong Страна должна знать своих героев в лицо!] Эти две волшебные девочки делают любой праздник сказкой! Самые добрые, внимательные, отзывчивые организаторы на свете! Ребята, мы счастливы, что вы были с нами! Вы потрясающая команда! Команда профессиональная, понимающая, внимательная! Столько потрясающих людей вместе - это клад!!! Спасибо за лучший день в нашей жизни!!! "
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_4.png)")
                                        div.feedback-slider__name Юра и Таня
                                        div.feedback-slider__date 2 июля 2016
                                    div.feedback-slider__text #[strong Таня:] "Это было незабываемо!!! Спасибо вам огромное!!!!!!!"#[br] #[strong Юра:] "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!#[br] #[strong А не официально, просто бомба!]"
                            div.feedback-slider__column
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_5.jpg)")
                                        div.feedback-slider__name Павел, #[br] Мария
                                        div.feedback-slider__date 17 мая 2017
                                    div.feedback-slider__text "Дорогие Алиса и Наташа, хочется поблагодарить вас и вашу команду за организацию нашей свадьбы! #[strong Вы очень тёплые, позитивные, мастера своего дела!] К сожалению, не удалось сказать слова благодарности на свадьбе, при торжественной обстановке, но думаю, мы ещё встретимся с вами, повод для праздника найдём). Процветания вам, только положительных эмоций, не капризных молодожёнов))"
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_6.jpg)")
                                        div.feedback-slider__name Аркадий,
                                        div.feedback-slider__name Виктория
                                        div.feedback-slider__date 14 августа 2015
                                    div.feedback-slider__text "В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной. Но! Я глубоко ошибалась! #[strong Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!] Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."
                            div.feedback-slider__column
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_7.jpg)")
                                        div.feedback-slider__name Кристина,
                                        div.feedback-slider__name Майкл
                                        div.feedback-slider__date 18 февраля 2016
                                    div.feedback-slider__text "Время для благодарностей! #[strong Страна должна знать своих героев в лицо!] Эти две волшебные девочки делают любой праздник сказкой! Самые добрые, внимательные, отзывчивые организаторы на свете! Ребята, мы счастливы, что вы были с нами! Вы потрясающая команда! Команда профессиональная, понимающая, внимательная! Столько потрясающих людей вместе - это клад!!! Спасибо за лучший день в нашей жизни!!! "
                                div.feedback-slider__item
                                    div.feedback-slider__author
                                        div.feedback-slider__photo(style="background-image: url(../img/section_feedback/feedback_photo_8.jpg)")
                                        div.feedback-slider__name Таня и Юра
                                        div.feedback-slider__date 2 июля 2016
                                    div.feedback-slider__text #[strong Таня:] "Это было незабываемо!!! Спасибо вам огромное!!!!!!!"#[br] #[strong Юра:] "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!#[br] #[strong А не официально, просто бомба!]"





            section.projects
                div.projects__inner.container
                    h2.projects__title.section__title Наши не свадебные проекты
                    span.projects__description Также, мы организуем такие мероприятия, как:
                    ul.projects__list
                        li.project__item
                            div.project__photo.project__photo-1
                            span.project__title Корпоративы
                        li.project__item
                            div.project__photo.project__photo-2
                            span.project__title Дни рождения, юбилеи
                        li.project__item
                            div.project__photo.project__photo-3
                            span.project__title Выпускные вечера, детские праздники
                    div.projects__information
                        span.projects__text
                            | Узнать подробнее можете по телефону
                            a.projects__telephone(href="tel:+74951955722")
                                | +7 (495) 195-57-22
                            | или заполните форму на следующем экране
                    div.projects__navigation
                        div.arrow-down












            section.secrets
                div.secrets__inner.container
                    h2.secrets__title.section__title.section__title_white Секреты организации идеальной свадьбы
                    div.consultation__wrapper
                        ul.consultation__list
                            li.consultation__item.consultation__item_normal На консультации мы расскажем:
                            li.consultation__item Как сэкономить до 15% свадебного бюджета.
                            li.consultation__item Как выбрать и проверить ведущего, фотографа, оператора, декоратора.
                            li.consultation__item Какие вопросы задавать на собеседовании.
                            li.consultation__item Какую площадку выбрать и как обойти пробковый сбор.
                            li.consultation__item Что лучше, выездная регистрация или ЗАГС.
                            li.consultation__item Почему, стоит избегать агентства, которые работают за %?
                        form.consultation-form
                            p.consultation-form__title Консультация свадебного специалиста с опытом организации #[strong более 200 свадеб!]
                            input.consultation-form__field.consultation-form__field_name(type="text" placeholder="Ваше имя" name="name" required)
                            input.consultation-form__field.consultation-form__field_phone(type="text" placeholder="Номер телефона" name="name" required)
                            input.consultation-form__button.button(type="submit" value="Получить консультацию")

        footer.footer.page__footer
            div.footer__inner.container
                div.logo
                    img.logo__image.logo__image_footer(src="../img/header__logo.png" srcset="../img/header__logo@2x.png 2x" alt="Company logo")
                div.footer__title
                    span.text.text_uppercase.text_bold Группа компаний Emerald
                    span.text Организация свадебных торжеств
                div.telephone
                    div.telephone__inner
                        a.telephone__number.text_bold.telephone__number_icon-phone(href="tel:+74951955722")
                            | +7 (495) 195-57-22
                        a.telephone__number.text_bold.telephone__number_icon-smartphone(href="tel:+79161724569")
                            | +7 (916) 172-45-69
                        a.telephone__number.text_bold.telephone__number_icon-smartphone(href="tel:+79853941057")
                            | +7 (985) 394-10-57
                ul.social
                    li.social__item
                        a.social__link.social__link_vk(href="https://vk.com")
                    li.social__item
                        a.social__link.social__link_instagram(href="https://instagram.com/")
                    li.social__item
                        a.social__link.social__link_facebook(href="https://facebook.com")
                    li.social__item
                        a.social__link.social__link_whatsapp(href="https://whatsapp.com")
                    li.social__item
                        a.social__link.social__link_youtube(href="https://youtube.com/")
                div.copyright
                    div.copyright__text
                        span.copyright__icon &copy;
                        |2017  Все права защищены
                    a.copyright__link(href="#") Политика конфиденциальности


        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")

